body{
  background-color: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  background-color: lightyellow;
  border-radius: 10px;
}

a:hover{
  color: red;
}

.container {
  
}
.my-list li {
  margin: 10px 0;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

.media{
  border: 5px solid green;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
}

img{
  height: 450px;
  display: block;
  
}

.media .content{
  padding: 10px;
  flex: 1;
  font-size: 25px;
}


